<h1>
    Hello there this is home
</h1>
<a href="/images/1">
<img src="/images/moose.png" width="160" height="145">
</a>
<a href="/images/2">
<img src="/images/sunglasses.jpg" width="160" height="145">
</a>
<a href="/images/3">
<img src="/images/hydrogen.png" width="160" height="145">
</a>