<!DOCTYPE html>
<html>
    <head>

        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <!-- <%- include('./partials/nav') %> -->
        <div id="container">
            <%- body %>
        </div>
        <div id="footer" class="block"></div>
        <script src="/js/home.js"></script>
    </body>
</html>